./.vs/ProtoMine/v16/.suo
bin/Debug/ProtoMine.exe
bin/Debug/ProtoMine.pdb
bin/Debug/zu/ProtoMine.resources.dll
obj/Debug/ProtoMine.csprojAssemblyReference.cache
obj/Debug/ProtoMine.exe
obj/Debug/ProtoMine.pdb
obj/Debug/zu/ProtoMine.resources.dll
